youtube_analytics:
  target: dev

  outputs:
    dev:
      type: snowflake
      account: "<SNOWFLAKE_ACCOUNT>"
      user: "<SNOWFLAKE_USER>"
      password: "<SNOWFLAKE_PASSWORD>"

      role: "<SNOWFLAKE_ROLE>"
      database: RAW_DB
      warehouse: "<SNOWFLAKE_WAREHOUSE>"
      schema: YOUTUBE
      threads: 4
